h1.logo{
  margin:10px;
  height:200px;
  text-align: center;
}
.header{
  float:right;
  background-color: #88d4d8;
  margin-bottom:10px;
}
.header li a{
  text-decoration: none;
  color:#44a;
}
.header li{
  display: inline-block;
}
.logo{
  width:500px;
}
.image2{
  width:250px;
}
